# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../weather_data/cities.csv")

# Display sample data
# YOUR CODE HERE
city_data_df.head()

,City_ID,latitud,longitude,temperature,humidity,cloudiness,wind_speed,country,description,city
0,0,39.3558,-9.3811,59.11,94,0,8.90,PT,clear sky,Peniche
1,1,-32.0350,-52.0986,58.01,91,0,8.52,BR,clear sky,Rio Grande
2,2,42.6001,-73.9662,52.39,82,100,4.34,US,overcast clouds,Albany
3,3,-23.1203,-134.9692,70.29,62,89,23.69,PF,overcast clouds,Rikitea
4,4,-21.1333,164.9000,78.06,50,3,10.56,NC,clear sky,Pouembout

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [9]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["temperature"] <= max_temp) & \
                                       (city_data_df["temperature"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,latitud,longitude,temperature,humidity,cloudiness,wind_speed,country,description,city
4,4,-21.1333,164.9000,78.06,50,3,10.56,NC,clear sky,Pouembout
7,7,-20.4081,57.7000,75.25,68,40,11.50,MU,scattered clouds,Mahébourg
8,8,18.6500,-99.2000,77.43,80,12,1.32,MX,few clouds,Zacatepec
10,10,11.4045,-69.6734,79.88,86,16,9.91,VE,few clouds,Coro
11,11,3.7833,72.9667,81.72,77,100,16.31,MV,overcast clouds,Mahibadhoo
12,12,16.8634,-99.8901,80.42,83,0,3.44,MX,clear sky,Acapulco de Juárez
13,13,-21.3585,55.7679,76.59,72,40,11.32,RE,scattered clouds,Saint-Philippe
14,14,-21.2078,-159.7750,75.25,73,20,18.41,CK,few clouds,Avarua
15,15,22.0752,-159.3190,82.38,74,40,13.80,US,scattered clouds,Kapaa
38,38,-16.4833,-151.7500,78.35,71,14,25.21,PF,few clouds,Faanui

In [12]:
preferred_cities_df.notnull().sum()

City_ID        192
latitud        192
longitude      192
temperature    192
humidity       192
cloudiness     192
wind_speed     192
country        192
description    192
city           192
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [16]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,latitud,longitude,temperature,humidity,cloudiness,wind_speed,country,description,city
4,4,-21.1333,164.9000,78.06,50,3,10.56,NC,clear sky,Pouembout
7,7,-20.4081,57.7000,75.25,68,40,11.50,MU,scattered clouds,Mahébourg
8,8,18.6500,-99.2000,77.43,80,12,1.32,MX,few clouds,Zacatepec
10,10,11.4045,-69.6734,79.88,86,16,9.91,VE,few clouds,Coro
11,11,3.7833,72.9667,81.72,77,100,16.31,MV,overcast clouds,Mahibadhoo

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [19]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["city", "country", "temperature", "latitud", "longitude"]].copy()

# Display sample data
# YOUR CODE HERE
hotel_df.head(10)

                  city country  temperature  latitud  longitude
4            Pouembout      NC        78.06 -21.1333   164.9000
7            Mahébourg      MU        75.25 -20.4081    57.7000
8            Zacatepec      MX        77.43  18.6500   -99.2000
10                Coro      VE        79.88  11.4045   -69.6734
11          Mahibadhoo      MV        81.72   3.7833    72.9667
12  Acapulco de Juárez      MX        80.42  16.8634   -99.8901
13      Saint-Philippe      RE        76.59 -21.3585    55.7679
14              Avarua      CK        75.25 -21.2078  -159.7750
15               Kapaa      US        82.38  22.0752  -159.3190
38              Faanui      PF        78.35 -16.4833  -151.7500

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [20]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
# YOUR CODE HERE
hotel_df["Hotel Name"] = ""
# Display sample data
# YOUR CODE HERE
hotel_df.head(10)

                  city country  temperature  latitud  longitude Hotel Name
4            Pouembout      NC        78.06 -21.1333   164.9000
7            Mahébourg      MU        75.25 -20.4081    57.7000
8            Zacatepec      MX        77.43  18.6500   -99.2000
10                Coro      VE        79.88  11.4045   -69.6734
11          Mahibadhoo      MV        81.72   3.7833    72.9667
12  Acapulco de Juárez      MX        80.42  16.8634   -99.8901
13      Saint-Philippe      RE        76.59 -21.3585    55.7679
14              Avarua      CK        75.25 -21.2078  -159.7750
15               Kapaa      US        82.38  22.0752  -159.3190
38              Faanui      PF        78.35 -16.4833  -151.7500

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [21]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [22]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["latitud"]
    lng = row["longitude"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels =  requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
# Display sample data
# YOUR CODE HERE
hotel_df

,city,country,temperature,latitud,longitude,Hotel Name
4,Pouembout,NC,78.06,-21.1333,164.9000,Camping de Tipenga
7,Mahébourg,MU,75.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
8,Zacatepec,MX,77.43,18.6500,-99.2000,Villas El Paraíso
10,Coro,VE,79.88,11.4045,-69.6734,Federal
11,Mahibadhoo,MV,81.72,3.7833,72.9667,Omadhoo Inn
...,...,...,...,...,...,...
661,Siquijor,PH,89.51,9.2142,123.5150,Villa Marmarine Resort
668,Iracoubo,GF,78.01,5.4802,-53.2011,Le Gîte d’Iracoubo
669,Laguna,US,76.32,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
670,Miracema do Tocantins,BR,78.24,-9.5618,-48.3967,Miami Apart Hotel
672,Salinópolis,BR,77.49,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [35]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,city,country,temperature,latitud,longitude,Hotel Name
4,Pouembout,NC,78.06,-21.1333,164.9000,Camping de Tipenga
7,Mahébourg,MU,75.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
8,Zacatepec,MX,77.43,18.6500,-99.2000,Villas El Paraíso
10,Coro,VE,79.88,11.4045,-69.6734,Federal
11,Mahibadhoo,MV,81.72,3.7833,72.9667,Omadhoo Inn
...,...,...,...,...,...,...
661,Siquijor,PH,89.51,9.2142,123.5150,Villa Marmarine Resort
668,Iracoubo,GF,78.01,5.4802,-53.2011,Le Gîte d’Iracoubo
669,Laguna,US,76.32,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
670,Miracema do Tocantins,BR,78.24,-9.5618,-48.3967,Miami Apart Hotel
672,Salinópolis,BR,77.49,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [36]:
# Set the file name.
output_data_file = "../vacation_search/WeatherPy_vacation.csv."

# Create a CSV file by using the clean_hotel_df DataFrame
# YOUR CODE HERE
clean_hotel_df.to_csv(output_data_file, index_label="Hotel_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [51]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>country</dt><dd>{country}</dd>
<dt>temperature</dt><dd>{temperature} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [52]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Camping de Tipenga</dd>\n<dt>city</dt><dd>Pouembout</dd>\n<dt>country</dt><dd>NC</dd>\n<dt>temperature</dt><dd>78.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>city</dt><dd>Mahébourg</dd>\n<dt>country</dt><dd>MU</dd>\n<dt>temperature</dt><dd>75.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villas El Paraíso</dd>\n<dt>city</dt><dd>Zacatepec</dd>\n<dt>country</dt><dd>MX</dd>\n<dt>temperature</dt><dd>77.43 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Federal</dd>\n<dt>city</dt><dd>Coro</dd>\n<dt>country</dt><dd>VE</dd>\n<dt>temperature</dt><dd>79.88 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Omadhoo Inn</dd>\n<dt>city</dt><dd>Mahibadhoo</dd>\n<dt>country</dt><dd>MV</dd>\n<dt>temperature</dt><dd>81.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HS Hotsson Smart Acapulco</dd>\n<dt>city</dt><dd>Acapulco de Juárez</dd>\n<dt>country</dt><dd>MX</dd>\n<dt>temperature</dt><dd>80.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>city</dt><dd>Saint-Philippe</dd>\n<dt>country</dt><dd>RE</dd>\n<dt>temperature</dt><dd>76.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>city</dt><dd>Avarua</dd>\n<dt>country</dt><dd>CK</dd>\n<dt>temperature</dt><dd>75.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>city</dt><dd>Kapaa</dd>\n<dt>country</dt><dd>US</dd>\n<dt>temperature</dt><dd>82.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>city</dt><dd>Faanui</dd>\n<dt>country</dt><dd>PF</dd>\n<dt>temperature</dt><dd>78.35 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [54]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["latitud", "longitude"]]

# Display sample data
locations.head(10)

    latitud  longitude
4  -21.1333   164.9000
7  -20.4081    57.7000
8   18.6500   -99.2000
10  11.4045   -69.6734
11   3.7833    72.9667
12  16.8634   -99.8901
13 -21.3585    55.7679
14 -21.2078  -159.7750
15  22.0752  -159.3190
38 -16.4833  -151.7500

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [55]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE
locations = hotel_df[["latitud", "longitude"]]
max_temp = hotel_df["temperature"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Create a figure to add the Google map as a layer
# YOUR CODE HERE
fig.add_layer(marker_layer)
# Display the figure containing the map
# YOUR CODE HERE
fig

Figure(layout=FigureLayout(height='420px'))